body{
        margin:0px;
        padding:0px;
        font-family: 'Open Sans', 'Raleway', sans-serif;
        font-weight: 400;
        width:100%;}

    h1,h2{
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    }

    h3{
    font-family: 'Raleway', sans-serif;
    font-weight:400;
    }

.nav{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        padding:20px; }

.nav > div:nth-child(2){
        display:flex;
        flex-direction:row;
        gap:25px;
        margin-right:40px;}

.nav-logo1{
        margin-left:30px;}

.container{

        display:flex;
        justify-content:space-around;
        align-items:center;
        padding:30px;
        background-repeat:no-repeat;
        background-size:200% 100%;
        background-position:center center;}

.header{
        width:40%;
        }

.svg{
        background-image:url("images9/illustration-1.svg");
        background-repeat:no-repeat;
        width:50%;
        height:350px;
        background-size:100% 100%;}

input{
        width:50%;
        padding:10px;
        margin:2px;}
button{
        width:30%;
        padding:11px;
        color:white;
        background: hsl(224, 93%, 58%);
        border:1px solid hsl(224, 93%, 58%);
        margin:2px;
        font-weight: 400;}

.container1{
        background-image:url("images9/bg-curve-desktop.svg");
        display:flex;
        justify-content:space-between;
        align-items:center;
        background-repeat:no-repeat;
        background-size:350% 100%;
        background-position:center center;
        padding:100px 50px 100px 50px;
        }

.header1{
        width:42%;
        }

a{
        color:hsl(170, 45%, 43%);}

.svg1{

        background-image:url("images9/illustration-2.svg");
        background-repeat:no-repeat;
        width:50%;
        height:400px;
        background-size:100% 100%;}

.testi{
     margin:70px 0px 0px 0px;
     padding:10px;
     display:flex;
     flex-direction:column;
     width:50%;
     background:white;
     color:black;}

.testicre{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(50px,1fr));
    place-items:center stretch;}

.ava{
    border-radius:50%;
    width:80%;
    object-fit:scale-down;
    float:left;
   }

.testiinfo{
    grid-column:2/-1;
    grid-row:1/1;
    }

.testiinfo > p ,h6 {
    margin:0px;font-size:0.8rem;}




.footer{
        display:flex;
        flex-direction:column;
        margin-top:0px;
        height:100%;
        width:100%;
        }

.footer1{
    display: flex;
    padding:70px;
    justify-content:space-around;
    gap:250px;
    background:hsl(238, 22%, 44%);
    border:1px solid hsl(238, 22%, 44%);
    color:white;}



.footer1-left{
    flex-basis:100%;
    align-items:start;
    justify-content:start;}



.footer1-right{
    flex-basis:100%;
    display:flex;
    flex-direction:column;
    align-items:start;
    justify-content:start;
   }

.footer1-right > input{
    width:65%;
    padding:10px;
    margin:2px;}

.footer1-right > button{
    width:40%;
    color:white;
    background: hsl(224, 93%, 58%);
    border:1px solid hsl(224, 93%, 58%);
    margin:2px;
    font-weight:400;}

    .footer2{
        padding:40px;
        display:grid;
        grid-template-rows:repeat(auto-fit,minmax(100px,1fr));
        background:hsl(243, 87%, 12%);
        color:white;}


    .footer2-top{}

    .nav-logo{
        width:40%;
        height:40%;
        object-fit:contain;
        }

    .footer2-bottom{color:white;}

    .footer2-center{
        display:flex;
        align-items:center;
        justify-content:space-between;
        align-items:center;}

    .xleft{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:start;
        }


    .xleft > p{
        margin:0px 0px 10px 40px;}

    .center{
        display:flex;
        flex-direction:column;
        justify-content:center;
        }

    .center > div{
        line-height:2;}

    .xright{
        display:flex;
        flex-direction:column;
        justify-content:start;
        gap:8px;
        }

    .xright > div{
        line-height:2.25;}

    .socials{

        display:flex;
        margin-right:50px;
        margin-bottom:70px;
        object-fit:scale-down;
        align-items:end;
        gap:20px;}


}


/*
This is an alternate way to place an svg as a background and place it according to the designs
.container{
        display:flex;
        align-items:start;
        justify-content:space-between;
        padding:55px;
        margin-top:0px;}


.header{
        width:38%;
        margin-top:6%;}

.svg{
        background-image:url("images/illustration-1.svg");
        background-repeat:no-repeat;
        width:55%;
        height:495px;
        background-fit:cover;
        background-size:100% 100%;}
*/